<li>
        {{!-- <div class="friend-img"><img src="assets/movie-carousel/Extra_Mascot_FULL_500x500_yay.png" alt="" /></div> --}}
        <div class="friend-info">
            <h4 id="userRequest">{{user}}</h4>
            <a href="/profile/{{user}}" class="btn btn-primary" id="userRequest">View Profile</a>
            <button id="deleteFriendBtn">Delete</button>
        </div>
</li>

<script src="./js/deleteCurrent.js"></script>
