<li id="user-name" class="mb-3">
        <div class="friend-info d-flex flex-row align-items-center">
            <h5 class="pr-2"id="userRequest">{{user}}</h5>
            <a href="/profile/{{user}}" class="btn custom-color mx-1" id="userRequest">View Profile</a>
            <button id="deleteFriendBtn" class="btn custom-color mx-1">Delete</button>
        </div>
</li>

<script src="./js/deleteCurrent.js"></script>
