<li id="friend-request">
        <div class="friend-info">
            <h4 id="incoming">{{username}}</h4>
            <button class="btn bg-black text-white" id="acceptRequestBtn">Accept</button>
            <button class="btn bg-black text-white" id="declineRequestBtn">Decline</button>
        </div>
</li>

<script src="./js/acceptDecline.js"></script>