<li>
        {{!-- <div class="friend-img"><img src="assets/movie-carousel/Extra_Mascot_FULL_500x500_yay.png" alt="" /></div> --}}
        <div class="friend-info">
            <a href="/user?{{user}}" class="btn btn-primary" id="userRequest">{{user}}</a>
        </div>
</li>