<!doctype html>
<html lang="en">
  <head>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->

    <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="/css/styles.css">
    <link rel="stylesheet" type="text/css" href="/css/signup.css">
    {{!-- <link rel="stylesheet" type="text/css" href="/css/friends.css"> --}}

    <title>Reel Cinema</title>

</head>
<body>
  <nav class="nav bg-black p-3 justify-content-between">
            <a class="nav-link" href="/"><img id="nav-logo" src="/img/logo-black.png"></a>
            <ul class="nav">
                <li class="nav-item">
                  <a class="nav-link" href="/movies">Movies</a>
                </li>
                 {{#if loggedIn}}
                 <li class="nav-item">
                    <a class="nav-link" href="/profile">My Profile</a>
                </li>
                <li class="nav-item">
                  <button class="nav-link logout" id="logoutBtn">Logout</button>
                </li>
                 {{else}}
                <li class="nav-item">
                  <a class="nav-link" href="/login">Login</a>
                </li>
                {{/if}}
                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn custom-btn my-5 my-sm-0" type="submit"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                        <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                      </svg></button>
                  </form>
              </ul>
        </nav>
    {{{body}}}
    <section class="footer">
        <div class="d-flex flex-column h-100 bg-black">
            <!-- FOOTER -->
            <footer class="w-100 py-4 flex-shrink-0">
                <div id="footer-section" class="container py-4">
                    <div class="row gy-4 gx-5">
                        <div class="col-lg-4 col-md-6">
                            <img id="footer-logo" src="/img/logo-black.png">
                            <p class="small text-muted mb-0"><br>&copy; Copyright 2021 Reel Cinema <br>All rights reserved.</p>
                        </div>
                        <div class="col-lg-2 col-md-6">
                            <h5 class="text-white mb-3">Quick links</h5>
                            <ul class="list-unstyled text-muted custom-links">
                                <li><a href="#">Login</a></li>
                                <li><a href="#">My Theaters</a></li>
                                <li><a href="#">My Friends</a></li>
                                <li><a href="#">Now Showing</a></li>
                            </ul>
                        </div>
                        <div class="col-lg-4 col-md-6 col-1-xs">
                            <h5 class="text-white mb-3">Newsletter</h5>
                            <p class="small text-muted">Want to stay updated on everything Reel Cinema is doing? Insert your email below to join our newsletter mailing list!</p>
                            <form action="#">
                                <div class="input-group mb-3">
                                    <input class="form-control" type="text" placeholder="Email" aria-label="Recipient's username" aria-describedby="button-addon2">
                                    <button class="btn custom-color" id="button-addon2" type="button"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
                                        <path fill-rule="evenodd" d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"/>
                                      </svg></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </section>
    <script src="./js/logout.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  </body>
</html>