<div class="container">
    <div id="content" class="content p-0">
        <div class="profile-header">
            <div class="profile-header-cover"></div>
            <div class="profile-header-content">
                <div class="profile-header-img mb-4">
                    <img src="../img/pengu.jpg" class="mb-4" alt="" />
                </div>

                <div class="profile-header-info">
                    <h4 class="m-t-sm">{{myUser.username}}</h4>
                    <h4>Scheduled movies:</h4>
                </div>
            </div>
        </div>
    </div>
</div>

