<div class="container">
    <div id="content" class="content p-0">
        <div class="profile-header">
            <div class="profile-header-cover"></div>
            <div class="profile-header-content">
                <div class="profile-header-img mb-4">
                    <img src="/Theater-website/public/img/dribbble_angry_4x.gif" class="mb-4" alt="" />
                </div>

                <div class="profile-header-info">
                    <h4 class="m-t-sm">{{myUser.username}}</h4>
                    <a href="#" class="btn btn-xs btn-primary mb-2">Edit Profile</a>
                </div>
            </div>


        </div>

        <div class="profile-container">
            <div class="row row-space-20">
                <div class="col-md-8">
                    <div class="tab-content p-0">

                        <div class="tab-pane fade active show" id="profile-friends">
                            <div class="m-b-10"><b>Friend List</b></div>
                            

                            <ul class="friend-list clearfix">
                                {{#each myUser.list_friends as |friend|}}
                                {{> friends-details}}
                                {{/each}}
                        </div>

                        <div class="tab-pane fade active show" id="profile-friends">
                            <div class="m-b-10"><b>Pending friend requests</b></div>
                            <ul class="friend-list clearfix">
                                {{#each myPending.list_friends as |friend|}}
                                {{> friends-details}}
                                {{/each}}
                        </div>

                        <div class="tab-pane fade active show" id="profile-friends">
                            <div class="m-b-10"><b>Incoming friend requests</b></div>
                            <ul class="friend-list clearfix">
                                {{#each myPending.list_friends as |friend|}}
                                {{> friends-details}}
                                {{/each}}
                        </div>




                        </ul>
                    </div>
                </div>
                
                <form class='addFriend-form'>
                    <label for="addFriend-input">New Friend</label>
                    <input class="form-input" type="text" id="addFriend-input" />
                    <button class="btn btn-primary" type="submit">Add Friend</button>
                </form>
            </div>


        </div>
    </div>
</div>
</div>

<script src="./js/addFriend.js"></script>