<div class="container">
    <div id="content" class="row my-5">
        <div class="col-5">
                <img id="profile-picture" src="/img/popcorn.jpg" class="mb-4" alt=""/>
                <div class="profile-header-info col-7">
                    <h3 id="profile-user">{{myUser.username}}</h3>
                </div>
        </div>
        <div class="col-5 ml-5">
            <div class="">
                    <div>
                        <h3>Friends List</h3>
                    </div>
                    <ul class="friends-list">
                        {{#each myUser.list_friends as |friend|}}
                        {{> friends-details}}
                        {{/each}}
                    </ul>
            </div>
        </div>
    </div>
        <div class="row mx-4 mt-5">
            <h3>{{myUser.username}}'s Upcoming Showings</h3>
        </div>
        <div class="row mx-2 mt-2">
            <div class="movies d-flex flex-row">
                    {{#each myUser.movies as |movie|}}
                    {{> profile-movies}}
                    {{/each}}
            </div>
        </div>
</div>

<script src="./js/addFriend.js"></script>