<div class="container">
    <div id="content" class="row my-5">
        <div class="col-5">
                <img id="profile-picture" src="img/popcorn.jpg" class="mb-4" alt=""/>
                <div class="profile-header-info col-7">
                    <h4 id="profile-user">{{myUser.username}}</h4>
                </div>
        </div>
        <div class="col-5 ml-5">
            <div class="">
                    <div>
                        <h4>Friends List</h4>
                    </div>
                    <ul class="friends-list">
                        {{#each myUser.list_friends as |friend|}}
                        {{> friends-details}}
                        {{/each}}
                    </ul>
            </div>
            <div class="mt-5">
                <h4>Pending Friend Requests</h4>
                <ul class="friends-list">
                    {{#each myPending.list_friends as |friend|}}
                    {{> pending-details}}
                    {{/each}}
                </ul>
            </div>
            <div class="mt-5" id="profile-friends">
                <div class="m-b-10">
                    <h4>Incoming Friend Requests</h4>
                </div>
                <ul class="friends-list">
                    {{#each incomingFriends}}
                        {{#dataValues}}
                        {{> incoming-details}}
                        {{/dataValues}}
                    {{/each}}
                </ul>
            </div>
            <form class="mt-5 align-content-center" id="addFriend-form">
                    <label for="addFriend-input"><h4>Add a New Friend</h4></label><br>
                    <input class="form-input py-1" type="text" id="addFriend-input" placeholder="Enter username" />
                    <button class="btn custom-color" type="submit">Add Friend</button>
            </form>
        </div>
    </div>
        <div class="row mx-4 mt-5">
            <h3>{{myUser.username}}'s Upcoming Showings</h3>
        </div>
        <div class="row m-2">
            <div class="movies d-flex flex-row flex-wrap">
                    {{#each myUser.movies as |movie|}}
                    {{> profile-movies}}
                    {{/each}}
            </div>
        </div>
</div>

<script src="./js/addFriend.js"></script>