<div class="">
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active position-relative"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="d-block w-100" src="/img/homepage-images/dune-carousel.jpg" alt="First slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>Beyond Fear, Destiny Awaits</h3>
                        <a href="/movies/Dune"><button class="btn custom-color text-black">Get Tickets for <i>Dune</i></button></a>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="/img/homepage-images/eternals-carousel.jpeg" alt="Second slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>In the beginning...</h3>
                        <a href="/movies/Eternals"><button class="btn custom-color text-black">Get Tickets for <i>Eternals</i></button></a>
                    </div>
                </div>
                <div class="carousel-item">
                    <img class="d-block w-100" src="/img/homepage-images/007-carousel.jpg" alt="Third slide">
                    <div class="carousel-caption d-none d-md-block">
                        <h3>Bond is Back</h3>
                        <a href="/movies/No Time To Die"><button class="btn custom-color text-black">Get Tickets for <i>No Time To Die</i></button></a>
                    </div>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
    </div>

    <div class="container col-12">
        <div class="row" id="myhero-monday">
        <section>
            <div id="myhero-row" class="row bg-blue p-5">
                <div class="col-6 homepage-images">
                    <img id="myhero-img" class="col-6 img-fluid" src="/img/movies-images/myhero-hero.png">
                </div>
                <div id="myhero-section" class="col-md-6">
                    <h1 class="text-white">My Hero Mondays</h1>
                    <p class="text-white">Come experience the new My Hero Academia movie on the big screen, but only on Mondays in November!</p>
                    <p class="text-white">In <em>My Hero Academia: World Heroes' Mission</em> the world is on the line. With two hours until the collapse of civilization, Deku, Bakugo, and Todoroki manage to work as a team, but there's still one problem...Deku's on the run for murder.</p>
                    <a href="/movies/My Hero Academia: World Heroes' Mission"><button class="btn bg-light">Get Your Tickets</button></a>
                </div>
            </div>
        </section>
    </div>
    <div class="row d-flex justify-content-sm-center">
        <section id="anniversary">
            <div id="anniversary-section" class="row p-5 mb-4">
                <div id="anniversary-text" class="col-md-6 col-xs">
                    <h1 class="text-sm-right">Reel Cinema 10-Year Anniversary Event</h1>
                    <p class="text-sm-right">We can't believe it's already been ten years as Reel Cinema! As a thank you, we're holding events all month long in November to celebrate! Be sure to check back each week for a new coupon.</p>
                    <p class="text-sm-right">Anytime from November 7-14, receive a free drink with any small popcorn purchase.</p>
                    <a href="/movies"><button class="btn bg-black text-white float-sm-right">Book Your Movie</button></a>
                </div>
                <div class="right col-6 homepage-images">
                    <img id="anniversary-img" class="col-6 float-right img-fluid" src="/img/homepage-images/couple-at-movies.jpg">
                </div>
            </div>
        </section>
    </div>
    </div>
    
</div>
        