    <div class="login-box">
        <h1 class="text-center p-3">Login</h1>
        <form class='login-form'>
            <label for="email-login">Email</label>
            <input class="form-input" type="text" id="email-login" />
            <label for="password-login">Password</label>
            <input class="form-input" type="password" id="password-login" />
            <button class="btn-login" type="submit">Login</button>
        </form>
    <p class="para-1">Don't have an account?<a href="/signup"> Sign up here </a></p>
    
</div>
<script src="./js/login.js"></script>