<div class="container">
    <div class="row justify-content-center m-5">
        <div class="card">
        <div class="card-body">
            <h2 class="card-title">Login</h2>
            <form class="login-form">
                <div class="mb-3">
                    <label for="email-login" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email-login" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="password-login" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password-login">
                </div>
                <button type="submit" class="btn custom-color">Login</button>
            </form>
            <p class="text-center mt-4 ">Don't have an account?<a class="custom-links" href="/signup"> Sign up here </a></p>
        </div>
    </div>
</div>
</div>
    
<script src="./js/login.js"></script>