    <div class="login-box">
        <h1>Login</h1>
        <form>
            <label for="email-login">Email</label>
            <input class="form-input" type="text" id="email-login" />
            <label for="password-login">Password</label>
            <input class="form-input" type="password" id="password-login" />
            <button class="btn btn-primary" type="submit">login</button>
        </form>
    </div>
    <p class="para-1">Not have an accoun? <a href="signup.html">Sign Up Here</a></p>

<script src="./js/login.js"></script>