<div class="container mt-4 mb-4">
        <h1>Featured Movies</h1>
        <div class="row flex-nowrap">
            <div class="card col-3 mx-1 border-0" style="width: 18rem;">
                <img src="/img/movies-images/dune.png" class="card-img-top" alt="...">
                <div class="card-body custom-card">
                  <h5 class="card-title">Dune</h5>
                  <p class="card-text"><b>2 HR 35 MIN | PG13</b> <br> Next Showing: <br> Nov 8, 7:00PM</p>
                  <a href="#" class="btn text-white bg-black">Get Tickets</a>
                </div>
            </div>
            <div class="card col-3 mx-1 border-0" style="width: 18rem;">
                <img src="/img/movies-images/eternals.png" class="card-img-top" alt="...">
                <div class="card-body custom-card">
                  <h5 class="card-title">Eternals</h5>
                  <p class="card-text"><b>2 HR 37 MIN | PG13</b> <br> Next Showing: <br> Nov 8, 5:00PM</p>
                  <a href="#" class="btn text-white bg-black">Get Tickets</a>
                </div>
            </div>
            <div class="card col-3 mx-1 border-0" style="width: 18rem;">
                <img src="/img/movies-images/soho.png" class="card-img-top" alt="...">
                <div class="card-body custom-card">
                  <h5 class="card-title">Last Night In Soho</h5>
                  <p class="card-text"><b>1 HR 56 MIN | R</b> <br> Next Showing: <br> Nov 9, 3:00PM</p>
                  <a href="#" class="btn text-white bg-black">Get Tickets</a>
                </div>
            </div>
            <div class="card col-3 mx-1 border-0" style="width: 18rem;">
                <img src="/img/movies-images/myhero.png" class="card-img-top" alt="...">
                <div class="card-body custom-card">
                  <h5 class="card-title">My Hero Academia: World Heroes' Mission</h5>
                  <p class="card-text"><b>1 HR 44 MIN | PG13</b> <br> Next Showing: <br> Nov 9, 6:30PM</p>
                  <a href="#" class="btn text-white bg-black">Get Tickets</a>
                </div>
            </div>
        </div>
        <div class="row flex-nowrap my-3">
            <div class="card col-3 mx-1 border-0" style="width: 18rem;">
                <img src="/img/movies-images/spencer.png" class="card-img-top" alt="...">
                <div class="card-body custom-card">
                  <h5 class="card-title">Spencer</h5>
                  <p class="card-text"><b>1 HR 51 MIN | R</b> <br> Next Showing: <br> Nov 9, 1:00PM</p>
                  <a href="#" class="btn text-white bg-black">Get Tickets</a>
                </div>
            </div>
            <div class="card col-3 mx-1 border-0" style="width: 18rem;">
                <img src="/img/movies-images/007.png" class="card-img-top" alt="...">
                <div class="card-body custom-card">
                  <h5 class="card-title">No Time To Die</h5>
                  <p class="card-text"><b>2 HR 43 MIN | PG13</b> <br> Next Showing: <br> Nov 9, 7:00PM</p>
                  <a href="#" class="btn text-white bg-black">Get Tickets</a>
                </div>
            </div>
            <div class="card col-3 mx-1 border-0" style="width: 18rem;">
                <img src="/img/movies-images/venom.png" class="card-img-top" alt="...">
                <div class="card-body custom-card">
                  <h5 class="card-title">Venom: Let There Be Carnage</h5>
                  <p class="card-text"><b>1 HR 37 MIN | PG13</b> <br> Next Showing: <br> Nov 8, 7:00PM</p>
                  <a href="#" class="btn text-white bg-black">Get Tickets</a>
                </div>
            </div>
            <div class="card col-3 mx-1 border-0" style="width: 18rem;">
                <img src="/img/movies-images/ron.png" class="card-img-top" alt="...">
                <div class="card-body custom-card">
                  <h5 class="card-title">Ron's Gone Wrong</h5>
                  <p class="card-text"><b>1 HR 47 MIN | PG</b> <br> Next Showing: <br> Nov 9, 11:00AM</p>
                  <a href="#" class="btn text-white bg-black">Get Tickets</a>
                </div>
            </div>
        </div>
        <div class="row flex-nowrap my-3">
            <div class="card col-3 mx-1 border-0" style="width: 18rem;">
                <img src="/img/movies-images/addamsfamily.png" class="card-img-top" alt="...">
                <div class="card-body custom-card">
                  <h5 class="card-title">The Addams Family 2</h5>
                  <p class="card-text"><b>1 HR 32 MIN | PG</b> <br> Next Showing: <br>Nov 9, 10:00AM</p>
                  <a href="#" class="btn text-white bg-black">Get Tickets</a>
                </div>
            </div>
            <div class="card col-3 mx-1 border-0" style="width: 18rem;">
                <img src="/img/movies-images/shangchi.png" class="card-img-top" alt="...">
                <div class="card-body custom-card">
                    <h5 class="card-title">Shang Chi and the Legend of the Ten Rings</h5>
                    <p class="card-text"><b>2 HR 12 MIN | PG13</b> <br> Next Showing: <br> Nov 9, 8:00PM</p>
                  <a href="#" class="btn text-white bg-black">Get Tickets</a>
                </div>
            </div>
            <div class="card col-3 mx-1 border-0" style="width: 18rem;">
                <img src="/img/movies-images/freeguy.png" class="card-img-top" alt="...">
                <div class="card-body custom-card">
                  <h5 class="card-title">Free Guy</h5>
                  <p class="card-text"><b>1 HR 55 MIN | PG13</b> <br> Next Showing: <br> Nov 8, 7:30PM</p>
                  <a href="#" class="btn text-white bg-black">Get Tickets</a>
                </div>
            </div>
            <div class="card col-3 mx-1 border-0" style="width: 18rem;">
                <img src="/img/movies-images/13minutes.png" class="card-img-top" alt="...">
                <div class="card-body custom-card">
                  <h5 class="card-title">13 Minutes</h5>
                  <p class="card-text"><b>1 HR 49 MIN | PG13</b> <br> Next Showing: <br> Nov 8, 2:30PM</p>
                  <a href="#" class="btn text-white bg-black">Get Tickets</a>
                </div>
            </div>
        </div>
    </div>