<div class="container mt-4 mb-4">
    <h1 id="featured">Featured Movies</h1>
    <div class="row d-flex justify-content-around flex-wrap">
      {{#if loggedIn}}
        {{#each movieData as |movie|}}
        {{> movie-details-logged }}
        {{/each}}
      {{else}}
        {{#each movieData as |movie|}}
        {{> movie-details }}
        {{/each}}
      {{/if}}
    </div>
</div>

<script src="../js/logout.js"></script>
<script src="../js/search.js"></script>

