
    <div class="signup-box">
        <h1>Sign Up</h1>
        <form>
            <label>First Name</label>
            <input type="text">
            <label>Last Name</label>
            <input type="text">
            <label for="email-signup">Email</label>
            <input class="form-input" type="text" id="email-signup" />
            <label for="password-signup">Password</label>
            <input class="form-input" type="password" id="password-signup" />
            <label for="password-signup">confirm Password</label>
            <input class="form-input" type="password" id="password-signup" />
            <button class="btn btn-primary" type="submit">signup</button>
        </form>
    </div>
    <p class="para-2">Already have an account? <a href="/login">Login here</a></p>

<script src="./js/login.js"></script>