<div class="container bg-grey">
    <div class="row justify-content-center m-5">
        <div class="card">
        <div class="card-body">
            <h2 class="card-title">Sign Up</h2>
            <form class="signup-form">
                <div class="mb-3">
                    <label for="username-signup" class="form-label">Username</label>
                    <input type="username" class="form-control" id="username-signup" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="email-signup" class="form-label">Email address</label>
                    <input type="email" class="form-control" id="email-signup" aria-describedby="emailHelp">
                </div>
                <div class="mb-3">
                    <label for="password-signup" class="form-label">Password</label>
                    <input type="password" class="form-control" id="password-signup">
                </div>
                <button type="submit" class="btn custom-color">Sign Up</button>
            </form>
            <p class="text-center mt-4 ">Already have an account?<a class="custom-links" href="/login"> Log in here </a></p>
        </div>
        </div>
    </div>
</div>

<script src="./js/signup.js"></script>