
    <div class="signup-box">
        <h1 class="text-center p-3">Sign Up</h1>
        <form class="signup-form">
            <label for ="username-signup">Username</label>
            <input class="form-input" type="text" id="username-signup">
            <label for="email-signup">Email</label>
            <input class="form-input" type="text" id="email-signup" />
            <label for="password-signup">Password</label>
            <input class="form-input" type="password" id="password-signup" />
            <button class="btn-login" type="submit">Sign Up</button>

        </form>
    </div>
    <p class="para-2">Already have an account? <a href="/login">Login here</a></p>

<script src="./js/signup.js"></script>