/* Homepage Styling */
html,body
{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden !important; 
}

.bg-black {
    background-color: rgb(24, 24, 24);
}

.custom-card {
    padding: 0px;
    margin-top: 20px;
}

#nav-logo {
    width: 50px;
    height: 50px;
}

.nav .nav-item .nav-link {
    color: white;
    margin-top: 12px;
}

.nav .nav-item .nav-link:hover {
    color: #44B4FF;
    transition: 0.3s;
}

.nav .nav-item .nav-link:focus {
    color: #44B4FF;
    font-weight: bolder;
}

.carousel {
    max-height: 500px;
}

.carousel-item {
    max-height: 400px;
}

.bg-blue, .custom-color, .custom-btn {
    background-color: #44B4FF;
}

.custom-text-color {
    color: #44B4FF;
}

#myhero-img, #anniversary-img {
    min-height: 100%;
    min-width: 100%;
}

#footer-logo {
    width: 100px;
    height: 100px;
}

.custom-links > li > a {
    color: #44B4FF;
    text-decoration: none;
}

.custom-links > li > a:hover {
    color: #348ac4;
}

footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
}

.logout {
    border: none;
    text-decoration: none;
    background-color: transparent;
}

/* Sign Up Page */
.signup-box{
    width: 360px;
    height: 500px;
    margin: auto;
    background-color: rgb(126, 126, 126);
    border-radius: 3px;
}

.login-box{
    width: 360px;
    height: 280;
    margin: auto;
    border-radius: 3px;
    background-color: rgb(126, 126, 126);
    margin-top: 160px;
}

.signup-form, .login-form{
    width: 300px;
    margin-left: 20px;
}

.username-signup, .email-signup, .password-signup, .email-login, .password-login{
    display: flex;
    margin-top: 20px;
    font-size: 18px;
}

.form-input{
    width: 100%;
    padding: 7px;
    border: none;
    border: 1px solid gray;
    border-radius: 6px;
    outline: none;
}

.btn-login{
    width: 300px;
    height: 35px;
    margin-top: 20px;
    border-radius: 6px;
    background-color: #44B4FF;
    color: black;
    font-size: 18px; 
    cursor: pointer;
}

.btn-login:hover{
    background-color:#348ac4;
}

.para-1{
    text-align: center;
    color: #fff;
    font-size: 15px;
    margin-top: 10px;

}

.para-2{
    text-align: center;
    color: #ffff;
    font-size: 15px;
    margin-top: -70px;
}

.para-2 a{
    color: #07eeff;
}

.para-1 a{
    color:#07eeff;
}

/* Movie Page */
#featured {
    margin-left: 38px;
    margin-bottom: 20px;
}

#movie {
    margin-bottom: 30px;
}

/* Movie Details Page */
.title {
    font-size: 5rem;
    font-weight: bold;
    margin: 0;
}

/* Friend List Page */
#profile-picture {
    max-height: 300px;
    border-radius: 400px;
}

#profile-user {
    font-size: 5rem;
}

#friend-request {
    list-style-type: none;
    margin: 0;
}

.friends-list {
    margin-left: 0;
    padding: 0;
}


#user-name {
    list-style-type: none;
}

@media (max-width: 400px) {
    #nav-css, #nav-css>ul {
        display: flex;
        flex-direction: column;
        align-items: center; 
        margin: 0;
    }
    #small-searchBar {
        width: 75%;
        max-height: 100px;
        margin: 0;
    }
    .homepage-images {
        display: none;
    }
    #myhero-row {
        text-align: center;
        justify-content: center;
    }
    #myhero-section {
        max-width: 100%;
    }
    #anniversary-section {
        display: flex;
        justify-content: center;
    }
    #anniversary-text {
        text-align: center;
        max-width: 100%;
    }
}









