/* Homepage Styling */
html,body
{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden !important; 
}

.bg-black {
    background-color: rgb(24, 24, 24);
}

.custom-card {
    padding: 0px;
    margin-top: 20px;
}

#nav-logo {
    width: 50px;
    height: 50px;
}

.nav .nav-item .nav-link {
    color: white;
    margin-top: 12px;
}

.nav .nav-item .nav-link:hover {
    color: #44B4FF;
    transition: 0.3s;
}

.nav .nav-item .nav-link:focus {
    color: #44B4FF;
    font-weight: bolder;
}

.carousel {
    max-height: 500px;
}

.carousel-item {
    max-height: 400px;
}

.bg-blue, .custom-color, .custom-btn {
    background-color: #44B4FF;
}

#myhero-img, #anniversary-img {
    min-height: 100%;
    min-width: 100%;
}

#footer-logo {
    width: 100px;
    height: 100px;
}

.custom-links > li > a {
    color: #44B4FF;
    text-decoration: none;
}

.custom-links > li > a:hover {
    color: #348ac4;
}

footer {
    position: sticky;
    left: 0;
    bottom: 0;
    width: 100%;
}

.logout {
    border: none;
    text-decoration: none;
    background-color: transparent;
}

/* Movie Page */
#featured {
    margin-left: 38px;
    margin-bottom: 20px;
}

#movie {
    margin-bottom: 30px;
}

/* Movie Details Page */
.title {
    font-size: 5rem;
    font-weight: bold;
    margin: 0;
}

/* Friend List Page */
#profile-picture {
    max-height: 300px;
    border-radius: 400px;
}

#profile-user {
    font-size: 5rem;
}

#friend-request {
    list-style-type: none;
    margin: 0;
}

.friends-list {
    margin-left: 0;
    padding: 0;
}

@media (max-width: 400px) {
    #nav-css, #nav-css>ul {
        display: flex;
        flex-direction: column;
        align-items: center; 
        margin: 0;
    }
    #small-searchBar {
        width: 75%;
        max-height: 100px;
        margin: 0;
    }
    .homepage-images {
        display: none;
    }
    #myhero-row {
        text-align: center;
        justify-content: center;
    }
    #myhero-section {
        max-width: 100%;
    }
    #anniversary-section {
        display: flex;
        justify-content: center;
    }
    #anniversary-text {
        text-align: center;
        max-width: 100%;
    }
}









